@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
  box-sizing: border-box;
  font-family: "Rubik";
  line-height: 1.45;
  height: 100%;
  max-height: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  height: 100%;
  max-height: 100%;
  color: var(--sld-color-foreground);
  box-sizing: border-box;
  /* background-color: var(--sld-color-background); */
  background: var(--sld-color-background)!important;
  background: linear-gradient(180deg, var(--sld-color-background) 0%, var(--sld-color-paper) 100%)!important;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  &:visited {
    color: inherit;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--sld-color-primary) var(--sld-color-background);
  scrollbar-gutter: auto;
}



*::-webkit-scrollbar {
  background-color: transparent;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--sld-color-primary);
  border-radius: 8px;
  border: 1px solid var(--sld-color-background);
  box-shadow: 0 0 1px var(--sld-color-secondary);
}

/* Import global slotui-css variables for all components */
@import '../lib/slotui-css/alert.css';
@import '../lib/slotui-css/avatar.css';
@import '../lib/slotui-css/badge.css';
@import '../lib/slotui-css/backdrop.css';
@import '../lib/slotui-css/box.css';
@import '../lib/slotui-css/cartouche.css';
@import '../lib/slotui-css/chipper.css';
@import '../lib/slotui-css/columner.css';
@import '../lib/slotui-css/content-switcher.css';
@import '../lib/slotui-css/divider.css';
@import '../lib/slotui-css/icon.css';
@import '../lib/slotui-css/paper.css';
@import '../lib/slotui-css/title-bar.css';
/* ...ajouter les autres fichiers slotui-css nécessaires ici... */
